$color-text: #212529;
$color-background-global: #e7e7e7;
$color-background: #2a3a4a;
$color-container: #fff;

/* Scroll Customize */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*
/ SWITCH BUTTON
*/
.dark-mode {
  background: #e7e7e7;
  text-align: center;
  padding-top: 25px;
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2px;
      background-image: linear-gradient(
        to right,
        #dfdfdf 50%,
        rgb(59, 59, 62) 50%
      );
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border: 3px solid rgb(59, 59, 62);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    input:checked + .slider {
      background-color: #2196f3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(15px) rotate(-360deg);
      -ms-transform: translateX(15px) rotate(-360deg);
      transform: translateX(15px) rotate(-360deg);
    }
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
  }
  span {
    font-style: italic;
  }
}

/*
/ MAIN SCSS
*/
html,
body {
  background: $color-background-global;
  height: 100%;
  img {
    object-fit: cover;
  }
}

.header {
  background: $color-background;
  .container {
    .header__logo {
      img {
        max-width: 120px;
      }
    }
  }
}

.sliding-activated {
  max-width: unset;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  height: 300px;
  flex-wrap: nowrap;
  .sliding-content {
    display: inline-block;
    flex: 0;
  }
}
.product__item__pic {
  height: 200px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.product__item__text {
  padding-top: 10px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 15px;
}
.btn-synopsis,
.btn-next-prev {
  width: 100%;
  background-color: #e53637;
  color: #fff;
  border: 0;
  border-radius: 5px;
  height: 40px;
}

.hero {
  padding-top: 20px;
  .container {
    background-color: $color-container;
    padding: 20px;
    border-radius: 10px;
  }

  .hero__text {
    padding-right: 15px;
    .label {
      background: $color-background;
      color: $color-background-global;
    }
    h2,
    p {
      padding: 10px;
      background: rgba(64, 78, 92, 0.45);
      border-radius: 10px;
      color: $color-background-global;
    }
  }
  .hero__slider.owl-carousel .owl-nav button {
    background: $color-background;
  }
}

.product {
  padding-top: 50px;

  .container {
    background-color: $color-container;
    padding: 20px;
    border-radius: 10px;

    .product__sidebar {
      .product__sidebar__view {
        .section-title {
          h4,
          h5 {
            color: $color-text;
          }
        }
        .filter__gallery {
          .product__sidebar__view__item {
            h5 {
              background-image: linear-gradient(to top, #0e0e0e, #ffffff00);
              bottom: 0;
              border-radius: 5px;
              padding-bottom: 25px;
              text-shadow: 2px 2px $color-text;
              color: $color-container;
            }
            h5 a {
              text-shadow: 2px 2px $color-text;
            }
          }
        }
      }
      .product__sidebar__comment {
        .section-title {
          h4,
          h5 {
            color: $color-text;
          }
        }
        .product__sidebar__comment__item {
          .product__sidebar__comment__item__pic {
            max-width: 100px;
          }
          .product__sidebar__comment__item__text {
            ul {
              li {
                background: rgb(61, 61, 61) !important;
                a {
                  color: $color-container !important;
                }
              }
            }
            h5 a,
            span {
              color: #3d3d3d;
            }
          }
        }
      }
    }

    .trending__product {
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
      .btn__all {
        a {
          color: $color-text;
        }
      }
      .product__item {
        .product__item__text {
          ul {
            li {
              background: rgb(61, 61, 61) !important;
              a {
                color: $color-container !important;
              }
            }
          }
          h5 a {
            color: $color-text;
          }
        }
      }
    }
    .popular__product {
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
      .btn__all {
        a {
          color: $color-text;
        }
      }
      .product__item {
        .product__item__text {
          ul {
            li {
              background: rgb(61, 61, 61) !important;
              a {
                color: $color-container !important;
              }
            }
          }
          h5 a {
            color: $color-text;
          }
        }
      }
    }
    .recent__product {
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
      .btn__all {
        a {
          color: $color-text;
        }
      }
      .product__item {
        .product__item__text {
          ul {
            li {
              background: rgb(61, 61, 61) !important;
              a {
                color: $color-container !important;
              }
            }
          }
          h5 a {
            color: $color-text;
          }
        }
      }
    }
    .live__product {
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
      .btn__all {
        a {
          color: $color-text;
        }
      }
      .product__item {
        .product__item__text {
          ul {
            li {
              background: rgb(61, 61, 61) !important;
              a {
                color: $color-container !important;
              }
            }
          }
          h5 a {
            color: $color-text;
          }
        }
      }
    }
  }
}

.breadcrumb-option {
  .container {
    background-color: $color-container;
    padding: 20px;
    border-radius: 10px;
    .breadcrumb__links {
      a {
        color: $color-text;
      }
      span {
        color: #e53637;
      }
    }
  }
}

/*
/ ANIME DETAILS
*/
.anime-details {
  padding-top: 30px;
  h3 {
    color: $color-text;
  }
  .container {
    background-color: $color-container;
    padding: 20px;
    border-radius: 10px;
    .anime__details__pic {
      height: 250px;
      width: 170px;
      margin-left: auto;
      margin-right: auto;
    }
    .anime__details__text {
      p {
        color: $color-text;
      }
      ul {
        li {
          color: $color-text;
          font-weight: bold;
          span {
            color: $color-text;
            font-weight: normal;
          }
        }
      }
      .anime__details__title {
        span {
          color: $color-text;
        }
      }
      .hide-synopsis {
        display: block;
        height: 120px;
      }
      .anime__details__widget {
        background-color: $color-container;
        display: inline-block;
        width: 100%;
        padding-top: 20px;
      }
    }
    .anime__details__review {
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
      .anime__review__item {
        margin-bottom: 5px;
        .anime__review__item__text {
          padding: 8px 8px 8px 15px;
          h6 {
            margin-bottom: 0;
          }
        }
      }
    }
    .product__sidebar {
      .product__sidebar__view {
        .section-title {
          h4,
          h5 {
            color: $color-text;
          }
        }
        .filter__gallery {
          .product__sidebar__view__item {
            h5 {
              background-image: linear-gradient(to top, #0e0e0e, #ffffff00);
              bottom: 0;
              border-radius: 5px;
              padding-bottom: 25px;
              text-shadow: 2px 2px $color-text;
              color: $color-container;
            }
            h5 a {
              text-shadow: 2px 2px $color-text;
            }
          }
        }
      }
      .product__sidebar__comment {
        .section-title {
          h4,
          h5 {
            color: $color-text;
          }
        }
        .product__sidebar__comment__item {
          .product__sidebar__comment__item__pic {
            max-width: 100px;
          }
          .product__sidebar__comment__item__text {
            ul {
              li {
                background: rgb(61, 61, 61) !important;
                a {
                  color: $color-container !important;
                }
              }
            }
            h5 a,
            span {
              color: #3d3d3d;
            }
          }
        }
      }
    }
    .trending__product {
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
      .btn__all {
        a {
          color: $color-text;
        }
      }
      .product__item {
        .product__item__text {
          ul {
            li {
              background: rgb(61, 61, 61) !important;
              a {
                color: $color-container !important;
              }
            }
          }
          h5 a {
            color: $color-text;
          }
        }
      }
    }
    .anime__details__sidebar {
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
      .product__sidebar__view__item {
        h5 {
          background-image: linear-gradient(to top, #0e0e0e, #ffffff00);
          bottom: 0;
          border-radius: 5px;
          padding-bottom: 25px;
          text-shadow: 2px 2px $color-text;
          color: $color-background-global;
        }
      }
    }

    .anime__video__player {
      ul {
        text-decoration: none;
        list-style: none;
        li {
          img {
            width: 100%;
          }
        }
      }
    }
    .anime__video__player {
      display: grid;
      .anime__tools,
      .anime__tools__object {
        display: inline-block;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        .btn-synopsis,
        .btn-next-prev {
          display: inline-block;
          width: 200px;
          text-align: center;
          padding-top: 7px;
        }
        .nice-select {
          float: unset;
          margin-bottom: 20px;
          ul {
            width: 100%;
          }
        }
      }
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
      p {
        color: $color-text;
      }
    }
  }
}

.product-page {
  .container {
    background-color: $color-container;
    padding: 20px;
    border-radius: 10px;
    .product__page__title {
      .section-title {
        h4,
        h5 {
          color: $color-text;
        }
      }
    }
    .product__item {
      .product__item__text {
        ul {
          li {
            background: $color-background;
            a {
              color: $color-container;
            }
          }
        }
        h4,
        h5 {
          a {
            color: $color-text;
          }
        }
      }
    }
    .product__pagination {
      a {
        color: $color-text;
        border: 1px solid $color-background;
        i {
          color: $color-text;
        }
      }
      .current-page {
        color: $color-background-global;
        background: $color-background;
      }
    }
    .product__sidebar {
      .product__sidebar__view {
        .section-title {
          h4,
          h5 {
            color: $color-text;
          }
        }
        .filter__gallery {
          .product__sidebar__view__item {
            h5 {
              background-image: linear-gradient(to top, #0e0e0e, #ffffff00);
              bottom: 0;
              border-radius: 5px;
              padding-bottom: 25px;
              text-shadow: 2px 2px $color-text;
              color: $color-container;
            }
            h5 a {
              text-shadow: 2px 2px $color-text;
            }
          }
        }
      }
      .product__sidebar__comment {
        .section-title {
          h4,
          h5 {
            color: $color-text;
          }
        }
        .product__sidebar__comment__item__text {
          h5 {
            a {
              color: $color-background;
            }
          }
          ul {
            li {
              background: rgb(61, 61, 61) !important;
              a {
                color: $color-container !important;
              }
            }
          }
          h5 a,
          span {
            color: #3d3d3d;
          }
          .product__sidebar__genre__menu {
            ul {
              .active {
                background: $color-background !important;
                border-radius: 10px;
                a {
                  color: $color-container !important;
                  background: $color-background;
                  border-bottom: 0;
                }
              }
              li {
                background: unset !important;
                a {
                  background: $color-container;
                  border-bottom: 1px solid #e53637;
                  border-radius: 0;
                  color: $color-background !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.anime__search__content {
  width: 100%;
  .anime__details__content {
    margin: 15px;
    padding: 15px;
    .anime__details__pic {
      height: 250px;
      width: 170px;
      margin-left: auto;
      margin-right: auto;
    }
    .anime__details__text {
      .anime__details__title {
        h3 {
          color: $color-text;
        }
      }
      .anime__details__rating {
        span {
          font-weight: bold;
          color: $color-text;
        }
      }
      .anime__details__widget {
        display: inline-block;
        width: 100%;
        padding-top: 20px;
        ul {
          li {
            span {
              color: $color-text;
            }
            a {
              padding: 5px 10px 5px 10px;
              font-size: 14px;
              background: $color-background;
              color: $color-container;
              border-radius: 50px;
            }
            color: $color-text;
          }
        }
      }
    }
  }
}

.footer {
  background: $color-background;
  .container {
    p {
      color: #b7b7b7;
      font-size: 12px;
    }
    .footer__logo {
      img {
        max-width: 120px;
      }
    }
    .footer__nav {
      ul {
        li {
          a {
            color: #e7e7e7;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .slicknav_nav {
    a {
      display: inline-block;
    }
  }
  .anime-details {
    .container {
      .anime__video__player {
        .anime__tools,
        .anime__tools__object {
          padding: 0;
          padding-top: 50px;
          padding-bottom: 50px;
          .btn-next-prev {
            display: unset;
            width: 200px;
            text-align: center;
            padding-top: unset;
            padding: 10px;
            margin-left: 2px;
          }
        }
        .anime__tools__object {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
