$color-1: #ffffff;
$color-2: #f65e39;
$color-3: #dfe0e1;
$color-4: #333436;
$color-5: #ffc107;
$color-6: #bfc1c3;
$color-shadow: #828282;

$width-image: 130px;
$height-image: 190px;

$border-radius: 15px;

@media only screen and (max-width: 1480px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Avenir-Medium";
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
  h4,
  h3 {
    font-weight: bold;
  }
  img {
    object-fit: cover;
  }
  .header {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 60px;
    z-index: 99;
    background: $color-1;
    .mobile-menu {
      display: inline-block;
      padding: 23px;
      position: absolute;
      left: 0;
      border: 0;
      cursor: pointer;
      color: $color-4;
      i {
        font-size: 18px;
        font-weight: bold;
      }
      .menu-bar {
        background-image: url(../img/bars.png);
        height: 25px;
        position: relative;
        width: 25px;
        background-repeat: no-repeat;
      }
    }
    .profile-menu {
      display: inline-block;
      text-align: right;
      position: absolute;
      padding: 15px;
      right: 0;
      img {
        right: 0;
        background: #a9a9a9;
        border-radius: 10px;
        width: 30px;
        height: 30px;
      }
    }
    .title-menu {
      position: absolute;
      display: inline-block;
      top: 18px;
      left: 7rem;
      span {
        font-size: 15px;
        font-weight: bold;
      }
    }
    .search-menu {
      position: absolute;
      display: inline-block;
      top: 20px;
      right: 70px;
      i {
        font-size: 15px;
        font-weight: bold;
      }
    }
    .chapter-menu {
      display: inline-block;
      padding: 23px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      i {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .mobile-menu-dropdown {
      position: absolute;
      top: 55px;
      left: 0;
      overflow-y: visible;
      width: 100%;
      height: 720px;
      background: $color-1;
      ul {
        height: 450px;
        list-style: none;
        padding: 0;
        li {
          padding: 10px;
          a {
            color: $color-4;
          }
        }
      }
    }
  }
  .search-menu-dropdown {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    top: 0;
    padding-top: 10%;
    .icon-times {
      height: 50px;
      width: 50px;
      border-radius: 50px;
      background: #333;
      text-align: center;
      padding: 15px;
      i {
        font-size: 18px;
        position: relative;
        color: $color-1;
        font-weight: normal;
      }
    }
    .search-model-form {
      padding: 0 15px;
      padding: 0 15px;
      margin-top: 50%;
      input {
        width: 100%;
        font-size: 15px;
        border: none;
        border-bottom: 2px solid #333;
        background: 0 0;
        color: #999;
      }
    }
  }
  .chapter-menu-dropdown {
    padding: 10px;
    input {
      margin: 10px 0 10px 0;
      border-radius: $border-radius;
    }
    ul {
      li {
        padding: 10px 5px 10px 5px !important;
        a {
        }
      }
    }
  }
  .header-custom {
    background: transparent;
    .mobile-menu,
    .title-menu,
    .search-menu {
      color: $color-1;
    }
    .mobile-menu i,
    .title-menu span,
    .search-menu i {
      font-weight: normal;
    }
    .search-menu {
      right: 25px;
    }
  }
  .header-custom-2 {
    background-image: linear-gradient(180deg, #000000, transparent) !important;
    background: transparent;
    .mobile-menu {
      i {
        color: $color-1 !important;
      }
    }
    .chapter-menu {
      color: $color-1 !important;
    }
  }
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .container-3 {
    margin: 0;
    padding: 0;
  }
  .container-book-custom {
    padding-right: 5px;
  }
  .content {
    border-bottom: 0.3px solid #d2d2d2;
    padding-bottom: 15px;
  }
  .section {
    margin-top: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 50px 10px;
    background: $color-1;
  }
  .section-2 {
    margin: 0;
  }
  .breadcrumbs {
    font-size: 14px;
    padding: 15px 5px 15px 5px;
    border-radius: $border-radius;
    box-shadow: 0px 1px 3px 0px $color-shadow;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        a {
          padding: 5px;
          color: $color-4;
          i {
            color: $color-2;
            padding: 5px;
          }
        }
      }
      li::after {
        content: ">";
      }
      .last {
        a {
          color: $color-2;
        }
      }
      .last::after {
        content: "";
      }
    }
  }
  .bookmark {
    position: absolute;
    top: 0;
    right: 15px;
    height: 20px;
    width: 14px;
    padding: 0px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    border-bottom: 7px solid transparent;
    border-left: 7px solid $color-3;
    border-right: 7px solid $color-3;
  }
  .button {
    background: $color-2;
    color: $color-1;
    position: relative;
    display: inline-block;
    bottom: 0;
    width: 49%;
    height: 50px;
    border-radius: 15px;
    padding: 15px;
    font-size: 14px;
  }
  .wrapper-slide {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .book {
    display: inline-flex;
    position: relative;
    margin-right: 10px;
    .img {
      img {
        border-radius: $border-radius;
        width: $width-image;
        height: $height-image;
      }
    }
    .property {
      padding: 5px;
      position: absolute;
      top: 0;
      background-image: linear-gradient(358deg, #000000eb, transparent);
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      .bookmarked {
        border-left: 7px solid $color-2;
        border-right: 7px solid $color-2;
      }
      .title {
        font-size: 12px;
        position: absolute;
        bottom: 40px;
        color: $color-1;
      }
      .date {
        position: absolute;
        font-size: 10px;
        bottom: 10px;
        color: $color-1;
      }
      .rating {
        position: absolute;
        bottom: 10px;
        right: 5px;
        color: $color-1;
        font-size: 10px;
        i {
          color: $color-5;
        }
      }
    }
  }
  .book-2 {
    width: 225px;
    box-shadow: 0px 1px 3px 0px $color-shadow;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 2px 5px 5px;
    background: $color-1;
    display: table;
    .img {
      float: right;
      img {
        height: 80px;
        width: 80px;
        display: inline-block;
        border-radius: 50px;
      }
    }
    .property {
      max-width: 120px;
      padding: 2px;
      margin: 0;
      display: inline-block;
      .title {
        font-weight: bold;
        font-size: 14px;
        a {
          color: $color-4;
        }
      }
      .genre {
        ul {
          list-style: none;
          padding: 0;
          li {
            font-size: 8px;
            float: left;
            background: $color-4;
            border-radius: 10px;
            color: $color-3;
            padding: 3px 5px 3px 5px;
            margin: 2px;
            a {
              color: $color-1;
            }
          }
        }
      }
    }
  }
  .book-2:nth-child(2),
  .book-2:nth-child(4),
  .book-2:nth-child(6),
  .book-2:nth-child(8),
  .book-2:nth-child(10),
  .book-2:nth-child(12) {
    background: $color-2;
    color: $color-1;
    a {
      color: $color-1 !important;
    }
  }
  .book-3 {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 135rem;
    background: #f1f1f1;
    border-radius: 15px;
    .next,
    .prev {
      color: #fff !important;
      position: absolute;
      top: 60px;
      padding: 3em 1em;
      cursor: pointer;
      background: #252525a6;
      border-radius: 5px;
    }
    .next:hover,
    .prev:hover {
      color: #000;
    }
    .next:active,
    .prev:active {
      top: 104px;
      box-shadow: 0 1px 0 #999;
    }
    .next {
      right: 0;
    }
    .prev {
      left: 0;
    }
    .carousel {
      width: 50px;
      height: 50px;
      left: 40%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s;
      .item {
        display: block;
        position: absolute;
        width: 150px;
        height: 190px;
        margin-left: -50px;
        text-align: center;
        color: #fff;
        border-radius: $border-radius;
        box-shadow: 0px 1px 3px 0px #828282;
        padding: 8px;
        background: $color-2;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
        .property {
          .title {
            margin-top: 5px;
            font-size: 14px;
            font-weight: bold;
          }
          .rating {
            position: absolute;
            top: 10px;
            background: $color-4;
            padding: 3px 5px 3px 5px;
            border-radius: 5px;
            font-size: 9px;
            i {
              color: $color-5;
            }
          }
          .synopsis {
            font-size: 14px;
            font-weight: normal;
            overflow-y: scroll;
            height: 70px;
            margin: 5px;
          }
          .readmore {
            position: absolute;
            bottom: 10px;
            left: 30%;
            a {
              color: $color-1;
            }
          }
        }
      }
      .a {
        transform: rotateY(0deg) translateZ(190px);
      }
      .b {
        transform: rotateY(60deg) translateZ(190px);
      }
      .c {
        transform: rotateY(120deg) translateZ(190px);
      }
      .d {
        transform: rotateY(180deg) translateZ(190px);
      }
      .e {
        transform: rotateY(240deg) translateZ(190px);
      }
      .f {
        transform: rotateY(300deg) translateZ(190px);
      }
    }
  }
  .book-4 {
    width: 100%;
    .item {
      width: 100%;
      display: block;
      float: left;
      height: 70px;
      margin-bottom: 1px;
      background-color: $color-2;
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      border-radius: 15px;
      a {
        color: $color-3;
      }
    }
    .item:hover {
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      background-color: #0f1014;
      a {
        text-decoration: none;
      }
    }
    .item:hover span.rank {
      background-color: #ffa900;
      color: #000;
    }
    .item span.rank {
      width: 34px;
      height: 100%;
      float: left;
      display: inline-block;
      border-radius: 15px;
      background-color: #de3f18;
      text-align: center;
      color: $color-1;
      font-size: 15px;
      line-height: 70px;
      letter-spacing: -0.3px;
      font-weight: 600;
      margin-right: 10px;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
    .item .movie-box {
      float: none;
      width: auto;
      display: block;
      margin-bottom: 0;
      .name {
        margin-top: 9px;
      }
      .poster {
        display: inline-block;
        float: left;
        margin-top: 10px;
        .img {
          img {
            border-radius: 50px;
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    .bilgi-icon,
    .center-icons,
    .item .movie-box .poster .rating {
      display: none;
    }
    .item .movie-box .movie-details {
      margin-top: 2px;
      display: block;
      margin-left: 95px;
      padding: 8px;
    }
    .item .movie-box .movie-info {
      margin-top: 0;
      border: 0;
    }
    .item .movie-box .movie-info span {
      margin-top: 0;
      margin-right: 8px;
    }
  }
  .book-5 {
    position: relative;
    display: inline-block;
    width: 49%;
    padding: 5px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 10px;
    .img {
      img {
        height: $height-image;
        width: $width-image;
        border-radius: $border-radius;
      }
    }
    .hot {
      width: 40px;
      height: 20px;
      background: #333436bd;
      padding: 2px 5px 2px 6px;
      border-radius: 5px;
      color: $color-3;
      position: absolute;
      top: 10px;
      left: 5px;
    }
    .property {
      .title {
        font-weight: bold;
        font-size: 14px;
        a {
          color: $color-4;
        }
      }
      .genre {
        display: inline-block;
        ul {
          list-style: none;
          padding: 0;
          li {
            font-size: 8px;
            float: left;
            background: #333436;
            padding: 3px 5px 3px 5px;
            border-radius: 5px;
            color: #dfe0e1;
            margin-right: 5px;
            margin-top: 3px;
            a {
              color: $color-1;
            }
          }
        }
      }
    }
  }
  .book-6 {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 0px $color-shadow;
    border-radius: $border-radius;
    margin: 5px 2px 5px 5px;
    .img {
      img {
        height: $height-image;
        width: $width-image;
        border-radius: $border-radius;
      }
    }
    .property {
      padding: 5px;
      position: absolute;
      top: 0;
      background-image: linear-gradient(358deg, #000, transparent, #000000b3);
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      .title {
        font-size: 12px;
        position: absolute;
        bottom: 40px;
        color: $color-1;
      }
      .genre {
        position: absolute;
        bottom: 15px;
        ul {
          list-style: none;
          padding: 0;
          li {
            font-size: 8px;
            float: left;
            background: $color-2;
            border-radius: 10px;
            color: $color-3;
            padding: 3px 5px 3px 5px;
            margin: 2px;
            a {
              color: $color-1;
            }
          }
        }
      }
    }
  }
  .background-info {
    .background-img-wrapper {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
    }
    .background-img {
      position: relative;
      img {
        width: 100%;
      }
      .background-shadow {
        bottom: 0;
        background-image: linear-gradient(
          358deg,
          #000000b3,
          transparent,
          #000000b3
        );
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .background-property {
        bottom: 50px;
        position: absolute;
        width: 100%;
        .background-title {
          display: inline-block;
          width: 50%;
          padding: 20px;
          float: left;
          a {
            color: $color-1;
            font-weight: bold;
            font-size: 18px;
          }
        }
        .background-rating {
          display: inline-block;
          width: 50%;
          font-size: 20px;
          color: $color-1;
          padding: 20px;
          float: right;
          text-align: right;
          i {
            color: $color-5;
          }
        }
      }
    }
    .background-blanks {
      margin-top: 140%;
    }
    .show-tab {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      box-shadow: 0px 0px 3px 0px $color-shadow;
      position: absolute;
      text-align: center;
      right: 5%;
      background: $color-1;
      top: 0;
      margin-top: 126%;
      z-index: 9;
      .bookmark {
        margin-top: 1.5rem;
        margin-right: 0.3rem;
        border-left: 7px solid $color-2;
        border-right: 7px solid $color-2;
      }
    }
    .background-tab {
      position: absolute;
      width: 100%;
      border-radius: 20px 20px 0 0;
      background: $color-1;
      margin-top: -30px;
      box-shadow: 0px 1px 5px 0px $color-shadow;
      .icon-up {
        margin-left: 49%;
        margin-right: 49%;
      }
      .tab-about {
        display: inline-block;
        font-size: 16px;
        padding: 10px;
        margin: 10px 0 0 10px;
        color: $color-6;
      }
      .tab-chapter {
        display: inline-block;
        font-size: 16px;
        padding: 10px;
        margin: 10px 0 0 10px;
        color: $color-6;
      }
      .active {
        color: $color-2;
        font-weight: bold;
      }
      .tab-content-wrapper {
        padding-bottom: 30px;
        .active {
          display: block !important;
          color: $color-4;
        }
        .tab-content-about {
          padding: 0 15px 0 15px;
          font-size: 14px;
          table {
            tr {
              td {
                padding: 5px;
              }
            }
          }
          .synopsis {
            padding: 6px;
          }
        }
        .tab-content-chapter {
          padding: 0px 20px 20px 0px;
          font-size: 14px;
          margin-left: 10px;
          margin-bottom: 20px;
          .chapter-wrapper {
            height: 35px;
            padding: 10px 0 10px 0;
            border-bottom: 1px solid #d8d8d8;
            a {
              padding: 10px;
              color: $color-4;
            }
          }
        }
      }
    }
  }
  .read-chapter {
    background-image: linear-gradient(360deg, #000000, transparent) !important;
    img {
      width: 100%;
    }
  }
  .footer {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    background: $color-1;
    ul {
      box-shadow: 0px 0px 3px 0px $color-shadow;
      display: block;
      list-style: none;
      border-radius: 50px;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        display: inline-block;
        width: 15%;
        padding: 13px;
        font-size: 17px;
        margin: 1px;
        a {
          color: $color-3;
        }
      }
      li:nth-child(2) {
        margin-right: 40px;
      }
      li:nth-child(4) {
        margin-left: 40px;
      }
      .show-special {
        border-radius: 50px;
        box-shadow: 0px 1px 5px 0px $color-shadow;
        position: absolute;
        margin-left: -25px;
        margin-top: -15px;
        background: #ffffff;
        height: 55px;
        width: 55px;
        padding: 15px;
      }
      .active {
        a {
          color: $color-2;
        }
      }
    }
  }
  .footer-custom {
    box-shadow: 0px -20px 20px 4px $color-1;
  }
  .footer-custom-2 {
    border-radius: 15px;
    height: 40px;
    font-size: 14px;
    background: #f65e39;
    color: #dfe0e1;
    margin-left: auto;
    width: 95%;
    margin-right: auto;
    left: 3%;
    bottom: 1%;
    .property {
      display: inline-block;
      position: absolute;
      left: 15px;
      top: 10px;
      i {
        margin: 0 10px 0 10px;
      }
    }
    .chapter {
      display: inline-block;
      position: absolute;
      right: 30px;
      top: 10px;
      a {
        color: $color-3;
        i {
          font-size: 20px;
          font-weight: bold;
        }
      }
      span {
        margin: 0 10px 0 10px;
      }
    }
  }
  .progress-wrapper {
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    /* -------------------------------------
    * Bar container
    * ------------------------------------- */
    .progress-radial {
      float: left;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-2;
      box-shadow: 0px 1px 3px 0px $color-shadow;
    }

    /* -------------------------------------
   * Optional centered circle w/text
   * ------------------------------------- */
    .progress-radial .overlay {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $color-2;
      color: $color-1;
      border-radius: 50%;
      border: 1px solid $color-1;
      margin-left: 5px;
      margin-top: 5px;
      text-align: center;
      line-height: 30px;
      font-size: 8px;
    }

    /* -------------------------------------
   * Mixin for progress-% class
   * ------------------------------------- */
    .progress-0 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(90deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-5 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(108deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-10 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(126deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-15 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(144deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-20 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(162deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-25 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(180deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-30 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(198deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-35 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(216deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-40 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(234deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-45 {
      background-image: linear-gradient(
          90deg,
          $color-1 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(252deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-50 {
      background-image: linear-gradient(
          -90deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-55 {
      background-image: linear-gradient(
          -72deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-60 {
      background-image: linear-gradient(
          -54deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-65 {
      background-image: linear-gradient(
          -36deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-70 {
      background-image: linear-gradient(
          -18deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-75 {
      background-image: linear-gradient(
          0deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-80 {
      background-image: linear-gradient(
          18deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-85 {
      background-image: linear-gradient(
          36deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-90 {
      background-image: linear-gradient(
          54deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-95 {
      background-image: linear-gradient(
          72deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }

    .progress-100 {
      background-image: linear-gradient(
          90deg,
          $color-2 50%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0)
        ),
        linear-gradient(270deg, $color-2 50%, $color-1 50%, $color-1);
    }
  }
}
